*{
    /*box-sizing:border-box;*/
    width: 1000px;
    margin:0 auto;
    /*border: 1px solid grey;*/
}

header nav{
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: grey;
    font-family: 'Titillium Web', sans-serif;
}
.navLinks{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 45%;
    display: flex;
    align-content: right;
}

.services-header-img{
    width: 100%;
    margin-top: 10px; 
}

h1, h2{
    font-family: 'Bangers', cursive;
}

button{
    border-radius: 10px;
    width: 25%;
    height: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.mainContent{
    border-top: 1px solid black;
    margin-top: 20px;
    padding: 20px;
}
.digitalDesign{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 0 10px;
}
.digitalDesign .contentText{
    border: 1px solid black;
    height: 200px;
    width: 40%;
    background-color: lightgrey;
    margin: 10px;
}
footer{
    display:flex;
    justify-content: center;
}